Source: upswatcher
Section: python
Priority: extra
Maintainer: David Whyte <david.whyte@gmail.com>
Build-Depends: debhelper (>= 7), python-support, python (>=2.4)
Standards-Version: 3.9.2
Homepage: http://david.whyte

Package: upswatcher
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Script for monitoring a UPS with Zabbix.
 Script for monitoring a UPS with Zabbix.
